<h1>About Hungry House</h1>
<p>Now you can organize all of your recipes in one place! For real. Hungry House was developed by me, Julie Perilla of alaskageekgirl.com.</p>
<p>I have been developing software for 12 years and cooking for over 20 years. Over the years, I've tried many different recipe applications
and have never found one that does everything that I want it to do. I decided to build my own. In writing the application Hungry House, I strived to make organizing your recipes fun again. The interface is clean and simple, and hopefully you know exactly where to go when you enter the application.</p> 
<p>I'd love to hear your thoughts. Contact me directly at geekgirl16@gmail.com</p>
