<h1>Finally, all of your recipes in one place. For real.</h1>
<p>HungryHouse.com not only allows you to search your favorite recipe sites from one place,
but it lets you import them to a central location, as well as import your printed recipes in books and magazines, and manually enter recipes that are in your head. Once your recipes are entered you can continue to build your recipe empire easily through the web, and sync your recipes with all of your devices. It's easy!</p>
	
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
